

header h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 5rem;
  text-align: center;
  font-stretch: narrower;
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: blanchedalmond;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  border:thick double rgb(39, 32, 29);
  box-shadow: 3px 3px red, -1em 0 .4em olive;
}
.relationship {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
  background-color: plum;
  background-size: 60%;
  text-decoration-style: solid;
}
.feeling-sad {
  background-color: floralwhite;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  background-color: bisque;
  background-size: 60%;
  text-decoration-style: double;
  
}
main {
  background-color: rgb(31, 179, 75);
  color: #666666;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  background-color: rgb(238, 238, 238); color: rgb(70, 12, 20);}

footer a {
  display: inline-block;
  padding: .5rem 1rem;
  color: #fff;
  background-color: blue;
  border-radius: 1rem;
  text-decoration: none;
  transform: scale(1);
  transition: transform .2s ease-out;
}

