body {
    width: 800px;
    height: 900px;
    border: 1rem solid violet;
    margin: 0;
    padding: 2rem;
}
header > h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lawngreen;
    font-size: 70px;
    text-align: center;
}
section:nth-of-type(1) > header h2 {
    font-family: cursive;
    color: chocolate;
    font-size: 28px;
}
section:nth-of-type(1) > div >p {
    font-family: serif;
    font-size: 21px;
}
section:nth-of-type(2) > header h2 {
    font-family: cursive;
    font-size: 28px;
    color: green;
}
section:nth-of-type(2) > div p {
    font-family: serif;
    font-size: 21px;
}
footer > nav > button {
    background-color: lightseagreen;
}
footer a {
    text-decoration: none;
    text-decoration: none;
    color: black;
    font-size: 24px;
}
.post {
    text-align: right;
}