html,body {
    width: 800px;
    height: auto;
    margin: 0;
    padding: 0;
    display:block;
    box-sizing: border-box;
    border: 1rem solid greenyellow;
}
h1 {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 70px;
}
h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: hotpink;
}
img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-style: ridge;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-radius: 60% hotpink;
    padding: 1rem;
    
}
footer ul li {
  list-style: none;
  display: inline;
  margin: 2rem;
  text-transform: uppercase;
  font-size: 20px;
}
a {
    text-decoration: none;
    color: blue;
}
button a::before {
    content:"←";
    font-size: 25px;
}
button {
    background-color: khaki;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.4s ease 0s;
}